
@{
    ViewBag.Title = "MonthlyAmount";
}

<h2>MonthlyAmount</h2>
<div id="successMessage">@TempData["successMessage"]</div>
<div id="warningMessage">@TempData["warningMessage"]</div>
<div class="container my-5">
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col">SI No</th>
                <th scope="col">Canteen Number</th>
                <th scope="col">Pending Amount</th>

            </tr>
        </thead>
        <tbody>
            <tr class="table-danger">
                <th scope="row"></th>
                <td></td>
                <td class=""></td>
            </tr>
        </tbody>
    </table>
</div>
